.containerHome{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

}

.inicial{
  width:fit-content;
  text-align: center
}

.slogan, .texto{
  color: #fff;
}

.imgquiz{
  width: 450px;
  margin-left: 40px;
}

.botoes{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnNavegar{
  width: 60%;
  height: 40px;
  border-radius: 7.5px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 20px;
  background: rgb(15, 227, 142);
  text-decoration: none;
  font-weight: bold;
}

.btnNavegar:hover{background: rgb(10, 198, 123);}


@media screen and (max-width: 1150px) {
  .containerHome{width: 100%;}
}

@media screen and (max-width: 950px) {
  .inicial{margin-bottom: 50px;}

  .imgquiz{margin: 0;}
}

@media screen and (max-width: 450px) {
  .inicial{width: 90%;}
}