.nota{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -23px;
  left: -7.5px;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  border-radius: 5px;
}

.green{background-color: rgb(15, 227, 142);}
.red{background-color: rgb(255, 79, 79);}